<h1>Welcome to the Nested Forms Lab!</h1>
<form method="POST" action="/pirates">
  <label> Pirate Name</label>
  <input type="text" name="pirate[name]">
  <label> Pirate Height</label>
  <input type="text" name="pirate[height]">
  <label> Pirate Weight</label>
  <input type="text" id="weight" name="pirate[weight]">
  <label> Ship Name</label>
  <input type="text" id = "ship_name_1" name="pirate[ships][][name]">
  <label> Ship Type</label>
  <input type="text" id = "ship_type_1" name="pirate[ships][][type]">
  <label> Booty Attributes</label>
  <input type="text" id = "ship_booty_1" name="pirate[ships][][booty]">
  <label> Ship Name</label>
  <input type="text" id = "ship_name_2" name="pirate[ships][][name]">
  <label> Ship Type</label>
  <input type="text" id = "ship_type_2" name="pirate[ships][][type]">
  <label> Booty Attributes</label>
  <input type="text" id = "ship_booty_2" name="pirate[ships][][booty]">
  <input type="submit" value="Submit">
</form>